@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    background-color: rgb(255, 220, 150);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button{
    background-color: orange;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding: 1rem 5rem;
    border-radius: 12px;
    margin: 0.8rem;
    box-shadow: 1px 1px 8px rgba(1, 1, 1, 0.6);
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover{
    opacity: 0.9;
}

.button:focus{
    outline: none;
}